<nav class="navbar">
  <div class="left-side">PORTFOLIO</div>
  <div class="middle-side">
    <ul class="nav-items">
      <li class="nav-item">HOME</li>
      <li class="nav-item dropdown">
        <span>GALLERY <i class="fa-solid fa-angle-down"></i></span>
        <div class="dropdown-content">
          <a href="/nature">Nature</a>
          <hr />
          <a>Animals</a>
          <hr />
          <a>People</a>
          <hr />
          <a>Technology</a>
          <hr />
          <a>Portrait</a>
          <hr />
          <a>Sports</a>
          <hr />
          <a>Architecture</a>
          <hr />
          <a>Travel</a>
          <hr />
          <a>Sky</a>
          <hr />
          <a>Food</a>
          <hr />
          <a>Cars</a>
          <hr />
          <a>Movies</a>
        </div>
      </li>
      <li class="nav-item">SERVICES</li>
      <li class="nav-item">ABOUT</li>
      <li class="nav-item">CONTACT</li>
    </ul>
  </div>
  <div class="right-side">
    <a href="https://facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://youtube.com"><i class="fa-brands fa-youtube"></i></a>
  </div>
</nav>
